body {
	margin: 0;
}

#wrapper {
	width: 95%;
	margin: 0 auto;
	background: gray;
	header {
		background: yellow;
		margin-top: 1em;
		#header-inner {
			padding: 1em 1em 0;
			h1 {
				text-align: right;
			}
		}
	}
	#sidebar {
		background: blue;
		float: right;
		width: 20%;
		padding: 0.5%;
		ul {
			padding-left: 1.2em;
		}
		margin: 1% 1% 1% 0;
	}
	#main {
		background: green;
		float: right;
		width: 75%;
		margin: 1%;
		padding: 0.5%;
	}
	footer {
		#footer {
			background: red;
			clear: both;
			p {
				text-align: center;
			}
		}
	}
}