h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 2.0em; }

h2 {
  font-size: 1.5em; }

body {
  margin: 0; }

#wrapper {
  width: 85%;
  margin: 0 auto;
  background: gray; }
  @media screen and (max-width: 430px) {
    #wrapper {
      width: 100%; } }
  #wrapper header {
    margin: 1em 0;
    background: yellow; }
    #wrapper header #header-inner {
      padding: 1em 1em 0;
      text-align: right; }
  #wrapper #sidebar {
    background: blue;
    float: right;
    width: 20%;
    padding: 0.5%;
    margin: 1% 0; }
    #wrapper #sidebar ul {
      padding-left: 1.2em; }
    @media screen and (max-width: 430px) {
      #wrapper #sidebar {
        float: none;
        width: 100%;
        margin: 0; } }
  #wrapper #main {
    background: green;
    float: right;
    width: 75%;
    margin: 1%;
    padding: 0.5%; }
    @media screen and (max-width: 430px) {
      #wrapper #main {
        float: none;
        width: 100%;
        margin: 0; } }
  #wrapper footer #footer {
    background: red;
    clear: both; }
    #wrapper footer #footer p {
      text-align: center; }
